.produkte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  display: flex;
  justify-content: center;
}

.success {
  color: #339900;
}

.warning {
  color: #ffcc00;
}

.error {
  color: #cc3300;
}

ul {
  list-style-type: none;
}
