{% extends 'base.html' %}

{% block content %}
<h1>Produkte</h1>
<div class="message">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h4 class="{{ category }}">{{ message }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="produkte">
            {% if products|length == 0 %}
                <h3>Keine Produkte verfügbar!</h3>
            {% else %}
        <ul>
            {% for product in products %}
            <a href="/product/{{product._id}}">
                <li class="product product-hover">
                    <p> Produkt-ID: {{product._id}}</p>
                    <p> Name:  {{ product.product_name }} </p>
                    <p> Hinzugefügt am: {{ product.hinzugefuegt}} </p>
                </li>
            </a>  
            {% endfor %}
        </ul>
        {% endif %}
</div>
    
{% endblock %} 
   
